body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 220px; 
    overflow-y: scroll;
}
h2 {
    margin-bottom: 20px;
    font-size: 2em;
}
.main {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ececec;
    border-radius: 5px;
    background-color: #333333;
    color: #ececec;
    width: 200px;
    outline: none;
}
input::placeholder {
    color: #bdbdbd;
}
button {
    padding: 10px 15px;
    font-size: 16px;
    color: #212121;
    background-color: #ececec;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #4db9b0;
}
.content{
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ececec;
    border-radius: 5px;
    background-color: #333333;
    width: 80%;
    line-height: 1.4;
    text-align: justify;
    display: none;
    overflow-y: scroll;
}
.content.show{
    display: block;
    overflow-y: scroll;
}
.content::-webkit-scrollbar {
    width: 8px; 
}
.content::-webkit-scrollbar-track {
    background: #212121; 
    border-radius: 5px; 
}
.content::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
}
.content::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
p{
    font-size: 16px;
}
#useCurrentTab{
    margin-bottom: 20px;
}
#fetching{
    display: none;
    font-size: 16px;
    color: #ececec;
    margin-top: 5px;
}